/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

/* Tag 3 */
#wall + div:nth-of-type(3){
  display: none;
}

div div {
  display: none;
}
